.blue__letter {
   margin: 30px 0px 0px 600px;
    color: #00f;
    font-size: 48px;
    
}

.red__letter {
   margin: 30px 0px 0px 600px;
   color: #f00;
   font-size: 48px;
}
   
   

   
    
    


        