.menu {
    list-style: none;
    padding: 0px;
    background: rgb(252, 178, 221);
    width: 90%;
    max-width: 450px;
    margin: auto;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: blue;
}

     
